header{
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    background-color: #ff9915;
}

header .logo{
    width: 400px;
    margin-left: 4vw;
    font-size: 40px;
    font-family: 'Shippori Antique B1', sans-serif;
    color: #edecb3;
}